#homePage {
  border: 1px solid black;
  border-radius: 10px;
  background-color: pink;
  opacity: 0.7;
  width: 400px;
  height: 200px;
  margin: 150px auto;
}
#homePage:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
