#loginBox {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 250px;
  margin: 20px auto;
  border-radius: 10px;
}
#loginBox input {
  margin: 10px 0px;
  height: 25px;
  padding-left: 10px;
}
#loginBox button {
  margin: 10px 0px;
  height: 25px;
}
