input {
  display: flex;
  margin: 10px;
}
#container1 {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  height: 300px;
}
#container2 {
  border: 1px solid yellow;
}
#input_div {
  margin: 30px;
  border: 1px solid black;
  width: 250px;
  padding: 10px;
}
#output_div {
  margin: 30px;
  border: 1px solid black;
  width: 300px;
  overflow-y: scroll;
}
#textOutpt {
  color: #781d42;
  font-weight: bold;
}
