*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-attachment: fixed;
    background-size: 100%;
    
}
#navbar{
    display: flex;
    background-color: #7F6A53;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    height: 70px;
}
a{
    text-decoration: none;
    color:#18140D;
    font-size: 21px;
}
#options{
    display: flex;
    justify-content: space-between;
}
#options h3 {
    padding-left: 30px;
    padding-right: 10px;
}
#search{
    margin-top: 10px;
    width: 200px;
    height: 30px;
}
#searchInput{
    align-items: center;
    display: flex;
    justify-content: center;
}
#searchInput input{
    padding: 5px;
    width: 40%;
    height: 35px;
}
#searchInput button{
    width: 10%;
    height:35px;
    margin-top: 8px;
}
#container div{
    background-color: #FAFAFA;
    border: 1px solid grey;
    gap:2%;
    padding:2%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   margin: 40px 100px;
   border-radius: 10px;
}
#container img{
    max-width: 500px;
    max-height: 300px;
}